aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiohttp-retry==2.9.1
aiosignal==1.4.0
attrs==25.4.0
bcrypt==5.0.0
blinker==1.8.2
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.1.7
dotenv==0.9.9
Flask==3.0.3
Flask-Cors==4.0.1
frozenlist==1.8.0
greenlet==3.2.4
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
multidict==6.7.0
mysql-connector-python==9.5.0
pillow==12.1.1
propcache==0.4.1
PyJWT==2.10.1
PyMySQL==1.1.2
python-dotenv==1.2.1
pytz==2025.2
redis==7.0.1
reportlab==4.4.10
requests==2.32.5
SQLAlchemy==2.0.44
twilio==9.8.5
typing_extensions==4.15.0
urllib3==2.5.0
Werkzeug==3.0.3
yarl==1.22.0
