body {
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
}

.hero {
  /* background: url('./Assets/Images/pexels-ian-panelo-11518779.jpg') no-repeat center center/cover; */
  background: url('./Assets/Images/triangle_back.jpeg') no-repeat center center/cover;
  background-size:stretch;
  position: relative;
  color: white;
  padding: 120px 20px;
  text-align: center;
 
}

.hero::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.hero .container {
  position: relative;
  z-index: 1;
}

.services, .pricing, .contact {
  padding: 80px 20px;
}

.service-icon {
  font-size: 40px;
  color: #6c63ff;
}

.pricing-card {
  border: 1px solid #eee;
  border-radius: 10px;
  transition: 0.3s;
  background: white;
}

.pricing-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

footer {
  background: #1f1c2c;
  color: white;
  text-align: center;
  padding: 30px 10px;
}

textarea, input {
  background-color: #f8f9fa;
}

#allError{
  display: none;
  font-size: 12px;
  max-width: 500px;
}

.contact{
  background-image: url('./Assets/Images/handshake.JPG');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9; 
  padding: 80px 20px;
  color: rgb(17, 0, 255);
  background-color: rgba(255, 255, 255, 0.3);
  height: 200px;
  /* width: 800px; */
}

.modified-nav{
  /* background-color: rgba(255, 255, 255, 0.1); */
  color: darkblue !important;
}
.navbar-brand , .navbar-nav .nav-link{
  color: darkblue !important;
  /* font-weight: bold; */
  font-weight: 400;
  text-align: center;
  font-size: 1.4rem;
  /* transition: color 0.3s ease; */
}
.logo-big{
  width: 100%;
  height: auto;
  max-width: 200px;
  margin: 0 auto;
}

.success{
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

/* CSS for tab and mobile */
@media (max-width: 768px) {
  .hero {
    padding: 80px 20px;
  }
  
  .hero h1 {
    font-size: 2.5rem;
  }
  
  .hero p {
    font-size: 1.2rem;
  }
  
  .services, .pricing, .contact {
    padding: 40px 20px;
  }
  
  .service-icon {
    font-size: 30px;
  }
  
  .pricing-card {
    margin-bottom: 20px;
  }
  .modified-nav{
    background-color: rgba(255, 255, 255, 1);
    color: darkblue !important;
  }
  .navbar-brand , .navbar-nav .nav-link{
    color: darkblue !important;
  }
  

}